.All-data-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: antiquewhite;

}
.btn-container {
    display: flex;
    justify-content: flex-end;

}

.btn {
    border-radius: 10px;
    margin-right: 2rem;
    height: 3rem;
    background-color: black;
    color: beige;
}