 /* .form {
    display: flex;
    justify-content: center;

    background-color: antiquewhite;
} */
/* .input-container {
    height: 6rem;
    width: 10rem;
}

.main-container-form {
   
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.title-input {
    height: 2rem;
    border-radius: 10px
} */