/* .check {
    display: flex;
    flex-direction: column;
    border: solid;
    width: 28vw;
    font-size: 3vh;
    color: #5e514b;
    border-radius: 18px;

}

.category {
    display: flex;
    justify-content: center;
    align-items: center;

}

.img-container {
    height: 6rem;
    width: 6rem;

}

.description {
    font-size: 3vh;
}

.text-details {
    display: flex;
    flex-direction: column;
}

.image-div {
    display: flex;
    justify-content: center;
}

.product-btn {
    border-radius: 10px;
    height: 3rem;
    width: 6rem;
    margin-right: 3rem;
    background-color: rgba(26, 26, 88, 0.699);
}

.btn-upadte-container {
    display: flex;
    justify-content: center;


} */
/* Link{
    text-decoration: none;
} */